
body {
    background: #35dc9b;
    background: linear-gradient(to bottom, #35dc9b, #3857af);
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}
.section-title {
 margin: 0 auto 40px;
 color: #fff;
 font: 20px Helvetica;
 text-transform: uppercase;
 letter-spacing: 3px;
}
form label {
 position: relative;
 display: block;
}
form label input {
 font: 18px Helvetica, Arial, sans-serif;
 box-sizing: border-box;
 
 border: none;
 padding: 20px;
 width: 85%;
 font-size: 18px;
 outline: none;
 transition: all 0.2s ease-in-out;
}
select {
font: 18px Helvetica, Arial, sans-serif;
box-sizing: border-box;

border: none;
padding: 20px;
width: 300px;
margin-bottom: 20px;
font-size: 18px;
outline: none;
transition: all 0.2s ease-in-out;
}
form label input::placeholder {
 transition: all 0.2s ease-in-out;
 color: #999;
 font: 18px Helvetica, Arial, sans-serif;
}
form label input:focus, form label input.populated {
 padding-top: 28px;
 padding-bottom: 12px;
}
form label input:focus::placeholder, form label input.populated::placeholder {
 color: transparent;
}
form label input:focus + span, form label input.populated + span {
 opacity: 1;
 top: 10px;
}
form label span {
 color: black;
 font: 13px Helvetica, Arial, sans-serif;
 position: absolute;
 top: 0px;
 left: 20px;
 opacity: 0;
 transition: all 0.2s ease-in-out;
 text-align: center;
}
form input[type="submit"] {
 transition: all 0.2s ease-in-out;
 font: 18px Helvetica, Arial, sans-serif;
 border: none;
 background: #1aaf75;
 color: #fff;
 padding: 16px 40px;
}
form input[type="submit"]:hover {
 background: #109a67;
}



input[type="reset"] {
transition: all 0.2s ease-in-out;
font: 18px Helvetica, Arial, sans-serif;
border: none;
background: #ff2d2d;
color: #fff;
padding: 16px 40px;
}

.small{
color: white;
font: 18px Helvetica, Arial, sans-serif;
margin-bottom: 6px;
}
.Centra{
text-align: center;
margin: auto;
margin-top: 100px;
width: 100%;
}
.accetta{
display: inline-block;
color: white;
font: 15px Helvetica, Arial, sans-serif;
}

@media (max-width: 465px) {
form label input {
 font: 15px Helvetica, Arial, sans-serif;
 box-sizing: border-box;
 
 border: none;
 padding: 10px;
 width: 90%;
 margin-bottom: 10px;
 font-size: 15px;
 outline: none;
 transition: all 0.2s ease-in-out;
}
form label input::placeholder {
 transition: all 0.2s ease-in-out;
 color: #999;
 font: 10px Helvetica, Arial, sans-serif;
}
select {
font: 15px Helvetica, Arial, sans-serif;
box-sizing: border-box;

border: none;
padding: 10px;
width: 90%;
margin-bottom: 10px;
font-size: 15px;
outline: none;
transition: all 0.2s ease-in-out;
}
form input[type="submit"] {
margin: 5px;
}
}

.colonna {
float: left;
width: 50%;
}

.separa:after {
content: "";
display: table;
clear: both;
}

@media screen and (min-width: 600px) {
.separa {
width: 92%;
margin: auto;
}
select {
width: 85%;
}
}

@media screen and (max-width: 600px) {
.colonna {
width: 100%;
}
}
.accediOra{
color: #e1e1e1;
font: 12px Helvetica, Arial, sans-serif;
}