

.contenitore {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 15px;
  left: 0;
  right: 0;
  width: 680px;
}


.contenitore .col1 .card {
  position: relative;
  width: 420px;
  height: 250px;
  margin-right: 10px;
  border-radius: 17px;
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.1);

  transition: all 1s;
          transform-style: preserve-3d;
}
.contenitore .col1 .card .front {
  position: absolute;
  background-color: #cacaca;
  border-radius: 17px;
  padding: 50px;
  width: 100%;
  height: 100%;
  transform: translateZ(1px);
  transition: background 0.3s;
  z-index: 50;
  background-image: -webkit-repeating-linear-gradient(45deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), -webkit-linear-gradient(-245deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0) 90%);
  background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), -webkit-linear-gradient(-245deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0) 90%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.contenitore .col1 .card .front .type {
  position: absolute;
  width: 75px;
  height: 45px;
  top: 20px;
  right: 20px;
}
.contenitore .col1 .card .front .type img {
  width: 100%;
  float: right;
}
.contenitore .col1 .card .front .card_number {
  position: absolute;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -1px;
  top: 110px;
  background-color: #e1e1e1;
  word-spacing: 3px;
  transition: color 0.5s;
}
.contenitore .col1 .card .front .date {
  position: absolute;
  bottom: 40px;
  right: 55px;
  width: 90px;
  height: 35px;
  background-color: #e1e1e1;
  transition: color 0.5s;
}
.contenitore .col1 .card .front .date .date_value {
  font-size: 12px;
  position: absolute;
  margin-left: 22px;
  margin-top: 12px;
  background-color: #e1e1e1;
  font-weight: 500;
  transition: color 0.5s;
}
.contenitore .col1 .card .front .date:after {
  content: 'MONTH / YEAR';
  position: absolute;
  display: block;
  font-size: 7px;
  margin-left: 20px;
}
.contenitore .col1 .card .front .date:before {
  content: 'valid \a thru';
  position: absolute;
  display: block;
  font-size: 8px;
  white-space: pre;
  margin-top: 8px;
}
.contenitore .col1 .card .front .fullname {
  position: absolute;
  font-size: 20px;
  bottom: 40px;
  background-color: #e1e1e1;
  transition: color 0.5s;
}
.contenitore .col1 .card .back {
  position: absolute;
  width: 100%;
  border-radius: 17px;
  height: 100%;
  background-color: #cacaca;
          transform: rotateY(180deg);
}
.contenitore .col1 .card .back .magnetic {
  position: absolute;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.7);
  margin-top: 25px;
}
.contenitore .col1 .card .back .bar {
  position: absolute;
  width: 80%;
  height: 37px;
  background: rgba(255, 255, 255, 0.7);
  left: 10px;
  margin-top: 100px;
}
.contenitore .col1 .card .back .seccode {
  font-size: 13px;
  background-color: #e1e1e1;
  font-weight: 500;
  position: absolute;
  top: 100px;
  right: 40px;
}
.contenitore .col1 .card .back .chip {
  bottom: 45px;
  left: 10px;
}
.contenitore .col1 .card .back .disclaimer {
  position: absolute;
  width: 65%;
  left: 80px;
  color: #f1f1f1;
  font-size: 8px;
  bottom: 55px;
}
.contenitore .col2 input {
  display: block;
  width: 260px;
  height: 30px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 7px;
  font-size: 17px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.05);
  border: none;
  transition: background 0.5s;
}
.contenitore .col2 input:focus {
  outline-width: 0;
  background: rgba(31, 134, 252, 0.15);
  transition: background 0.5s;
}
.contenitore .col2 label {
  padding-left: 8px;
  font-size: 15px;
  color: #444;
}
.contenitore .col2 .ccv {
  width: 40%;
}
.contenitore .col2 .buy {
  width: 260px;
  height: 50px;
  position: relative;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  border: none;
  background: #42C2DF;
  color: white;
  font-size: 20px;
  transition: background 0.4s;
  cursor: pointer;
}
.contenitore .col2 .buy i {
  font-size: 20px;
}
.contenitore .col2 .buy:hover {
  background: #3594A9;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}

.chip {
  position: absolute;
  width: 55px;
  height: 40px;
  background: #bbb;
  border-radius: 7px;
}
.chip:after {
  content: '';
  display: block;
  width: 35px;
  height: 25px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ddd;
}


/*fino a questo punto esclusivamente per la CC*/



.shopping-cart {
  width: 750px;
  height: 450px;
  margin: 80px auto;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  text-align: center;
 
}

.row .title {
  height: 60px;
  text-align: center;
  border-bottom: 2px solid #E1E8EE;
  padding: 10px;
  color: #5E6977;
  font-size: 18px;
}
 
.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}


.image img{
  margin-right: 50px;
  width: 450px;
  height: 370px;
}
 

 

.total-price {
  width: 83px;
  padding-top: 157px ;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}




@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 400px;
  }
  .image {
    width: 100%;
    text-align: center;
    margin: 6px 0;
    margin: auto;
  }
  .bottone {
    margin-right: 20px;
  }
  .total-price {
  padding-top: 10px;
}

}


@media (max-width: 500px) {
  .image img {
    width: 300px;
  }

}


.card {
  text-align: center;
}



.colL {
  float: left;
  width: 50%;
  padding: 8px;
}

.prezz {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.prezz:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.prezz .testa {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.prezz li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}




@media only screen and (max-width: 600px) {
  .colL {
    width: 100%;
  }
}




.checkcontainer {
  padding:20px;
}

.checkcontainer h2{
  color: #555;
  text-align: center;
}



.modalcheck {
  display: none;
  position: fixed;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;/*x lo scrollable*/
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.5);
  padding-top: 160px;
}


.check {
  background-color: #fefefe;
  margin: 8% auto 15% auto;
  border: none solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}
 


@media screen and (max-width: 700px) {
  .check {
  width: 75%;
}

} 


.annulla {
color: #494949;
text-decoration: none;
background: #ffffff;
padding: 23px;
width: 100%;
display: inline-block;
transition: all 0.4s ease 0s;
}
.annulla:hover {
color: white;
background: red;
border-color: red;
transition: all 0.5s ease 0s;
opacity: 0.7;

}
.checkoutQuanti {
color: #fff;
text-transform: uppercase;
text-decoration: none;
background: #ed3330;
padding: 20px;
margin-top: 10px;
border-radius: 5px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
Cursor: pointer;
}
.checkoutQuanti:hover {
background: #f0f8ff;
color: black;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px 10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px 10px rgba(0,0,0,0.57);
box-shadow: 5px 40px 10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}




  .button {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
    height: 2.85rem;
    line-height: 2.95rem;
    padding: 0 1.5rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
    color: #555;
  }


 
    @media screen and (max-width: 480px) {

      .button {
        padding: 0;
        width: 100%;
      }

    }



    .button:hover {
      background-color: white;
    }

    .button:active {
      background-color: #e5e5e5;
    }






.carta{
  margin: auto;
  width: 50%;
  border: 3px solid;
  padding: 10px;
}


.carta h2{
  text-align: center;
  padding: 5px;
  box-shadow: inset 0 0 3px 3px rgba(144, 144, 144, 0.25);
}



#ordinaora {
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #ed3330;
  padding: 20px;
  margin-top: 10px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  Cursor: pointer;
}
#ordinaora:hover {
  background: green;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px 10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px 10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px 10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}