
 body{
 	background: #ffece5;
 }
 .new-azienda{
 	background: #fff;
 	padding: 20px 40px;
 	max-width: 1360px;
 	margin: 0 auto; /*per far si che sia nel mezzo */
 }

 h2{
 	color: #555;
 }

 label, input{
 	display: block;
 	margin: 18px 0;
 }

 label{
 	color: #777;
 }

 input[type='text'],
 input[type='email'],
 input[type='number'],
 input[type='password']{
 	border: 1px solid #ddd;
 	padding: 10px;
 	border-radius: 10px;
 	width: 100%;
 }

 input[type='submit']{
 	margin: 24px auto;
 	font-size: 18px;
 	background: coral;
 	padding: 6px 16px;
 	border: none;
 	border-radius: 10px;
 }
 
 .error{
 	color: coral;
 }

.successo p{
  margin-top: 5px;
  margin-bottom: 5px;
  margin: auto;
  width: 75%;
  position: relative;
  background-color: rgba(0,255,0,0.3);
  border: 1px solid rgba(0,255,0,0.3);
  border-radius: 4px;
  color: rgb(3, 130, 3);
  text-align: center;
  text-shadow: 0 0 3px rgb(255, 255, 255);
  padding: 5px;
}

@media (max-width: 1047px) {
    .new-azienda {
        padding: 6px 16px; 
    }
}

 .new-user{
  background: #fff;
  padding: 20px 40px;
  max-width: 1360px;
  margin: 0 auto; 
 }


@media (max-width: 1047px) {
    .new-user {
        padding: 6px 16px; 
    }
}
