
.crd-img{
  float: left;
  padding: 5px;
}
.crdTot .crd-img {
  transform: scale(.9);
  transition: .4s;
}

.crdTot:hover .crd-img {
  transform: scale(1);
}

.crdTot::after {
  content: "";
  clear: both;
  display: table;
}

.crd-info {
  text-align: center;
}