@media (min-width: 1365px) {
    .row {
        width: 1365px;
    }
}
@media (max-width: 1365px) {
    .row {
        width: auto;
    }
}
.row{
    margin-right: auto;
    margin-left: auto;
    padding: 0 0 20px 0;
    background: #ffffff;
    position: relative;
   
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1)
}
@media (min-width: 1365px) {
    .home {
        width: 1365px;
    }
}
@media (max-width: 1365px) {
    .home {
        width: auto;
    }
}
.home{
    margin-right: auto;
    margin-left: auto;
    padding: 0 0 20px 0;
    background: #ffffff;
    position: relative;
   
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1)
}


.seconda{
  padding-left: 150px;
  padding-right: 150px;
}
.colonna {
  float: left;
  width: 50%;
  padding: 35px;
  text-align: center;
}
.storia {
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1365px) {
  .colonna {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f0f8ff;
}
.card img {
  max-width: 100%;
  height: auto;
  border-radius: 10%;
}

.storia p{
    font-size: 30px;
}

.storia h2{
    font-size: 50px;
}


@media screen and (max-width: 1365px) {
  .storia {
     width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  }

.storia p{
    font-size: 17px;
}

.storia h2{
    font-size: 23px;
}
}


  .button {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
    height: 2.85rem;
    line-height: 2.95rem;
    padding: 0 1.5rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: transparent;
      box-shadow: inset 0 0 0 2px black;
      color: black;
  }


 
    @media screen and (max-width: 480px) {
      .button {
        padding: 0;
        width: 100%;
      }

    }

.button:hover {
      background-color: white;
    }
  
